<div class="small-4 columns">
	<%= image_tag('chess_photos/black_chess_pieces.jpg') %>
</div>

<div class="small-4 columns">
	<%= image_tag('chess_photos/WestPAChamps.jpg') %>
</div>

<div class="small-4 columns">
	<%= image_tag('chess_photos/white_chess_pieces.jpg') %>
</div>