<h2>Welcome Chess Parents!</h2>
</br></br>

<p><%= image_tag 'AlexPlaying10.jpg', class: "left", width: "150" %> The A &amp; M 
  Chess Camps are an excellent opportunity for you son or daughter to improve their 
  chess prowless this summer. We offer a wide range of camp times featuring different 
  curriculumns for chess players of all ratings. Please view some of our upcoming camps
  and find one that is well suited for your young chess champion.
</p>
