<h1>About Us</h1>

<div><%= image_tag 'chess_photos/pgh_nationals/tables1.jpg' %> </div>
</br></br>

<p>	Alex and Mark Heimann are the founders and main
	instructors at A&M Chess Camp. They will be teaching 3 hour classes in the summer over a number of week
	long camps. Each camp focuses on a different curriculum, suitable for different player ratings (starting with unrated). Performance on class exercises and in games gives students points that lead to trophies and ribbons at the end of the week. 
</p>

</br></br>
