<h1>Contact Us</h1>

<div><%= image_tag 'chess_photos/boys_playing_at_home.JPG' %> </div>
</br></br>

<p> Alex and Mark Heimann are the founders and main
  instructors at A&M Chess Camp. As you can see, they got a early start to their own chess careers.
  Below is the contact information for Alex and Mark. </p>

</br></br>

<table>
  <tr>
    <th>Mark Heimann</th>
    <th>Alex Heimann</th>
  </tr>
  <tr>
    <td><%= mail_to("mark@razingrooks.org", "Email Mark", encode: "javascript") %> </td>
    <td>
    <%= mail_to("alex@razingrooks.org", "Email Alex", encode: "javascript") %> 
    </td>
  </tr>
  <tr>
    <td>412-268-2325</td>
    <td>412-268-3259</td>
  </tr>
</table>
