<div class="row">
  <div class="small-6 columns">
    <!-- MAIN CONTENT GOES HERE -->
    <%= render :partial => "welcome" %>
    <p>&nbsp;</p>
  </div>


  <div class="small-6 columns">
    <!-- SIDEBAR CONTENT GOES HERE -->
    <%= render :partial => "upcoming_camps" %>
  </div>
</div>

