<h2>A&M Chess Camp Privacy Policy</h2>

</br></br>

<p>
  We will not share your information anywhere outside our website. Our chess camps are interested in developing young chess players and we are not interested in profiting from sharing your personal information. Some information may be shared with other users on the website to organize carpools. Thank you for reading.
</p>